<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class='error-container'>
    <%- include('./partials/header') %>

      <div class='error-status-div'>
        <h1><%= error.status %></h1>
        <h2><%= message %></h2>
        <a href='/'>Click here to return to the homepage</a>
        <pre><%= error.stack %></pre>
      </div>

<%- include('./partials/footer') %>
