<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='apple-touch-icon' sizes='180x180' href='/images/apple-touch-icon.png'>
    <link rel='icon' type='image/png' sizes='32x32' href='/images/favicon-32x32.png'>
    <link rel='icon' type='image/png' sizes='16x16' href='/images/favicon-16x16.png'>
    <link rel='manifest' href='/images/webmanifest.json'>
  </head>
  <body>
    <div class='error-container'>
    <%- include('./partials/header') %>

      <div class='error-status-div'>
        <h1><%= error.status %></h1>
        <h2><%= message %></h2>
        <a href='/'>Click here to return to the homepage</a>
        <pre><%= error.stack %></pre>
      </div>

<%- include('./partials/footer') %>
