<%- include('./partials/head') %>
<%- include('./partials/header') %>

<%- include('./partials/aside') %>

    <section>

        <% if (typeof messages !== 'undefined') { %>
            <% messages.forEach(message => { %>
            <div class='message-div'>
                <div class='message-header'>
                    <h3><%= message.message_title %></h3>
                    <% if (user && (user.isAdmin === true)) { %>
                        <a href='<%= message.url %>'><button type='button'>Delete</button></a>
                    <% } %>
                </div>
                <hr>
                <div class='message-body'>
                    <p><%= convertEscape(message.message_text) %></p>
                </div>
                
            <% if (typeof user !== 'undefined' && user.member === true) { %>
                <div class='message-div-footer'>
                    <p><strong>Author:</strong> <%= message.author.username %></p>
                    <p><strong>Date created:</strong> <%= message.timestamp_formatted %></p>
                </div>
            <% } %>    
                
            </div>
            <% }) %>
        <% } %>

    </section>
    

<%- include('./partials/footer') %>