<%- include('./partials/head') %>

    <h1><%= title %></h1>
    <% if (user) { %>
        <p>Welcome back <%= user.username %></p>
        <a href='/logout'><button type='button'>Logout</button></a>
        <a href='/new_message'><button type='button'>Create Message</button></a>
        <a href='/join'><button type='button'>Join the Club!</button></a>
    <% } else { %>
        <p>Welcome to <%= title %></p>

        <a href='/login'><button type='button'>Login</button></a>
        <a href='/sign-up'><button type='button'>Sign Up</button></a>
    <% } %>

    <section>
        <div class='message-section'>
        <% if (typeof messages !== 'undefined') { %>
            <% messages.forEach(message => { %>
            <div class='message-div'>
                <h3><%= message.message_title %></h3>
                <% if (user && (user.isAdmin === true)) { %>
                    <a href='<%= message.url %>'><button type='button'>Delete</button></a>
                <% } %>
                <p><%= message.message_text %></p>
                
            <% if (typeof user !== 'undefined' && user.member === true) { %>
                <div class='message-div-footer'>
                    <p>Author: <%= message.author.username %></p>
                    <p>Date created: <%= message.timestamp_formatted %></p>
                </div>
            <% } %>    
                
            </div>
            <% }) %>
        <% } %>
        </div>
    </section>
    

<%- include('./partials/footer') %>