<%- include('./partials/head') %>
<%- include('./partials/header') %>

    <div class='join-div'>
      <h1><%= title %></h1>
      <p>Enter the secret code for private access!</p>
      <form method='post'>
        <div class='form-input'>
          <div>
            <label for='private_access'>Access Code: </label>
            <input type='password' name='private_access' id='private_access'>
          </div>
        </div>
        <div class='form-buttons'> <button type='submit'>Join</button></div>
        <% if (typeof errors !== 'undefined') { %>
         <% errors.forEach(error => { %>
          <p><%= error.msg %></p>
         <% }) %>
        <% } %>
      </form>
    </div>

<%- include('./partials/footer') %>