<%- include('./partials/head') %>
<%- include('./partials/header') %>

  <div class='message-delete'>
    <div class='message-delete-header'>
      <h2>Title: <%= convertEscape(message.message_title) %></h2>
      <p><strong>Created on:</strong> <%= message.timestamp%></p>
      <p><strong>Author:</strong> <%= message.first_name %> <%= message.last_name %></p>
      <p><strong>Username:</strong> <%= message.username%></p>
    </div>
    <hr>
    <div class='message-delete-body'>
      <h3>Message</h3>
      <p><%= convertEscape(message.message_text) %></p>
    </div>
    <hr>
    <p><strong>WARNING:</strong> <em>Deleting is not reversible!!</em></p>
    <form method='post'>
      <button type='submit'>Delete</button>
      <a href='/'><button type='button'>Cancel</button></a>
    </form>
  </div>


<%- include('./partials/footer') %>