<%- include('./partials/head') %>
<%- include('./partials/header') %>

  <div class='message-delete'>
    <div class='message-delete-header'>
      <h2>Title: <%= message.message_title %></h2>
      <p><strong>Created on:</strong> <%= message.timestamp_formatted%></p>
      <p><strong>Author:</strong> <%= message.author.first_name %> <%= message.author.last_name %></p>
      <p><strong>Username:</strong> <%= message.author.username%></p>
    </div>
    <hr>
    <div class='message-delete-body'>
      <h3>Message</h3>
      <p><%= message.message_text %></p>
    </div>
    <hr>
    <p>Click below to delete this messages. This is not reversable</p>
    <form method='post'>
      <button type='submit'>Delete</button>
      <a href='/'><button type='button'>Cancel</button></a>
    </form>
  </div>


<%- include('./partials/footer') %>