<%- include('./partials/head') %>
<%- include('./partials/header') %>
<%- include('./partials/aside') %>

    <section>
        <h1><%= title %></h1>
        <div class='user-info'>
            <h2>User Info</h2>
            <p><strong>Name:</strong> <%= user.fullname %></p>
            <p><strong>Member since:</strong></p>
            <p><strong>Message Total:</strong></p>
        </div>
        <div class='user-messages'>
            <p>messages. . . </p>
        </div>
        <%= user %>
        <%= messages %>
        <%= user_list %>
    </section>


<%- include('./partials/footer') %>